/* Estilos para el Fondo */

.fondo{
    background-image: url('./mario-bros.jpg');
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
}



.title{
    font-family: "Staatliches", sans-serif;
    font-size: 400%;
    font-style: italic;
    font-weight:bolder;
    color:white;
    text-align: justify;
    text-shadow: 2px 25px 10px rgb(0, 0, 0);
    white-space: nowrap;
    display: flex;
    margin: 10;
    text-indent: 100px;
    letter-spacing: 5px;
    position: fixed;
    top: 30px;
    left: 600px;
    right: 400px;
     
}


.button {
    font-size: 2.8rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid white;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px white;
    cursor: pointer;
    font-family:  "Staatliches", sans-serif;
    position:relative;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 700px;
    
}
  
.button:hover {
    transform: translate(5px, -5px);
  }



